:root {
  --main-blue-color:#01b1fdc4;
  --nav-text: whitesmoke;
  --on-hover-color: rgba(35, 38, 43, 0.858);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  opacity: 95%;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  background-color: rgb(255, 255, 255);
}

#logo {
  width: 100%;
}

#call-to-action {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 4vw;
  margin-top: -5rem;
  position: relative;
  color: var(--main-blue-color);
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.045),
  1px 1px 2px rgba(0, 0, 0, 0.566),
  1px -1px 0 rgba(0, 0, 0, 0.697),
  -1px -1px 0 rgba(0, 0, 0, 0.16);
}


/*--------------------------------- NAVBAR ----------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background-color: var(--main-blue-color);
  box-shadow: 0 5px 15px rgba(17, 16, 16, 0.189);
  font-size: 1.3rem;
  border-bottom-left-radius: .1em;
  border-bottom-right-radius: .1em;
}

#phone {
  height: 45px;
  border-radius: 1em;
  margin: .2em .6em;
}

.free-quote {
  display: flex;
  width: fit-content;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--nav-text);
  cursor: pointer;
}

.free-quote:hover {
  color: var(--on-hover-color);
  width: fit-content;
  transition: ease-in-out 250ms;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style-type: none;
  font-size: 1em;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--nav-text);
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: var(--on-hover-color);
  transition: ease-in-out 250ms;
}

.navbar-links:hover {
  color: var(--on-hover-color);
}

/*--------------------------------- HAMBURGER MENU STYLES ----------------------------*/

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  display: none;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition-duration: 0.25s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10px;
}

#bar1 {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10px;
  transition-duration: 0.25s;
}

#bar3 {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10%;
  transition-duration: 0.25s;
}

/*--------------------------------- ABOUT ----------------------------*/

.grid-span-2 {
  margin: auto;
  text-align: center;
  grid-column: 1 / span 2;
  font-size: 2rem;
}

#about {
  background-color: var(--main-blue-color);
  /* padding: .4em; */
}

.about-section img {
  width: 100%;
  height: auto;
  padding: 2em 2em;
  border-radius: 3%;
}

.about-section {
  font-size: 1rem;
  border-radius: 0.5rem;
}

/*--------------------------------- GALLERY ----------------------------*/
#gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: masonry;
  background-color: var(--main-blue-color);
  padding: 0 2em;
}

#gallery img {
  width: 100%;
  height: auto;
  border-radius: 2%;
  padding: 5px;
}

/*--------------------------------- REVIEWS ----------------------------*/

/*--------------------------------- SERVICES ----------------------------*/

/*--------------------------------- CONTACT SECTION ----------------------------*/

/*------------------------------------- MEDIA QUERYS----- ----------------------------*/

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    margin-top: .1em;
  }

  #phone {
    height: 36px;
    margin: .3em;
  }

  .free-quote {
    font-size: 1.1rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    background: rgba(22, 15, 15, 0.873);
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li a:hover {
    background-color: #0202024f;
    color: var(--nav-text);
  }

  .navbar-links.active {
    display: flex;
  }
}
