:root {
  --main-blue-color:#01b1fdc4;
  --nav-text: whitesmoke;
  --on-hover-color: rgba(35, 38, 43, 0.858);
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  opacity: 95%;
  line-height: 1.2;
  font-family: 'Playfair Display', serif;
  background-color: rgba(15, 27, 31, 0.858);
}

main {
  height: 100vh;
  width: 100vw;
}

header {
  /* ----- Flexbox Centering ---------*/
  display: flex;
  justify-content: center;
  align-items: center;

  /*------- Sizing ------------- */
  width: 100%;
  height: 1400px;

  /*------- Background styles --------*/
  background-image: url("./images/deleon-and-son-logo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: scroll;
}

#call-to-action {
  margin-top: 2em;
  margin-bottom: auto;
  text-align: center;
  font-size: 3rem;
  color: rgba(11, 13, 15, 0.818);
  border-bottom: solid 3px rgba(46, 182, 223, 0.767);
  border-bottom-left-radius: .4em;
  border-bottom-right-radius: .4em;
  box-shadow: rgba(7, 8, 15, 0.242) 0 5px 0;
}


/*--------------------------------- NAVBAR ----------------------------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  overflow: hidden;
  width: 100%;
  z-index: 1;
  background-color: var(--main-blue-color);
  box-shadow: 0 5px 15px rgba(17, 16, 16, 0.189);
  font-size: 1.3rem;
  border-bottom-left-radius: .1em;
  border-bottom-right-radius: .1em;
}

#phone {
  height: 45px;
  border-radius: 1em;
  margin: .2em .6em;
}

.free-quote {
  display: flex;
  width: fit-content;
  font-size: 1.3rem;
  text-decoration: none;
  color: var(--nav-text);
  cursor: pointer;
}

.free-quote:hover {
  color: var(--on-hover-color);
  width: fit-content;
  transition: ease-in-out 250ms;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style-type: none;
  font-size: 1em;
}

.navbar-links li a {
  text-decoration: none;
  color: var(--nav-text);
  padding: 1rem;
  display: block;
}

.navbar-links li a:hover {
  color: var(--on-hover-color);
  transition: ease-in-out 250ms;
}

.navbar-links:hover {
  color: var(--on-hover-color);
}

/*--------------------------------- HAMBURGER MENU STYLES ----------------------------*/

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  flex-direction: column;
  display: none;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  transition-duration: 0.25s;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10px;
}

#bar1 {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10px;
  transition-duration: 0.25s;
}

#bar3 {
  height: 3px;
  width: 100%;
  background-color: var(--nav-text);
  border-radius: 10%;
  transition-duration: 0.25s;
}

/*--------------------------------- Motto/ Who we are ----------------------------*/

#who-we-are {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  height: 800px;
  border: solid 2px blue;
}

#henry-carlos-img {
  border: solid 2px white;
}

#about-us {
  border: solid 2px white;
}

/*--------------------------------- GALLERY ----------------------------*/

/*--------------------------------- REVIEWS ----------------------------*/

/*--------------------------------- SERVICES ----------------------------*/

/*--------------------------------- CONTACT SECTION ----------------------------*/

/*------------------------------------- MEDIA QUERYS----- ----------------------------*/

@media (max-width: 768px) {
  .toggle-button {
    display: flex;
    margin-top: .1em;
  }

  #phone {
    height: 36px;
    margin: .3em;
  }

  .free-quote {
    font-size: 1.1rem;
  }

  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    background: rgba(22, 15, 15, 0.873);
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    flex-direction: column;
    width: 100%;
  }

  .navbar-links li a:hover {
    background-color: #0202024f;
    color: var(--nav-text);
  }

  .navbar-links.active {
    display: flex;
  }

  header {
    width: 100%;
    height: 80vh;
  }

  #call-to-action {
    margin: auto;
    font-size: 1.2em;
    margin-bottom: 2rem;
    color: rgba(0, 0, 0, 0.896);
  }

  #who-we-are {
    display: block;
    height: auto;
  }
}

